replicaCount: 1

image:
  repository: redis
  tag: "7.2"

service:
  type: ClusterIP
  port: 6379

ingress:
  enabled: false

config:
  LOG_LEVEL: error
  FEATURE_FLAG: "false"

hpa:
  enabled: false

readiness:
  initialDelaySeconds: 5
  periodSeconds: 10
  httpGet:
    path: /
    port: http

liveness:
  initialDelaySeconds: 10
  periodSeconds: 10
  httpGet:
    path: /
    port: http

startup:
  initialDelaySeconds: 3
  periodSeconds: 10
  httpGet:
    path: /
    port: http
