replicaCount: 1

image:
  repository: redis
  tag: "7.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 6379
  targetPort: 6379

ingress:
  enabled: false
  className: ""
  host: ""
  annotations: {}

resources:
  limits:
    cpu: "300m"
    memory: "256Mi"
  requests:
    cpu: "150m"
    memory: "128Mi"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 1
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

serviceAccount:
  create: true
  name: ""

config:
  LOG_LEVEL: error
  REDIS_MAXMEMORY: "256mb"

probes:
  enabled: true
  liveness:
    path: /
    port: http
    initialDelaySeconds: 15
    periodSeconds: 15
  readiness:
    path: /
    port: http
    initialDelaySeconds: 5
    periodSeconds: 5
  startup:
    path: /
    port: http
    failureThreshold: 30
    periodSeconds: 10
