your-chart:
  enabled: true
  replicaCount: 2

  image:
    repository: nginx
    tag: "1.27"

  service:
    type: ClusterIP
    port: 80

  ingress:
    enabled: true
    className: nginx
    hosts:
      - host: app1.local
        paths:
          - path: /
            pathType: Prefix

  config:
    LOG_LEVEL: debug
    FEATURE_FLAG: "true"

  hpa:
    enabled: true
    minReplicas: 3
    maxReplicas: 2
    targetCPUUtilizationPercentage: 60

  readiness:
    initialDelaySeconds: 5
    periodSeconds: 10
    httpGet:
      path: /
      port: http

  liveness:
    initialDelaySeconds: 10
    periodSeconds: 10
    httpGet:
      path: /
      port: http

  startup:
    initialDelaySeconds: 3
    periodSeconds: 10
    httpGet:
      path: /
      port: http